* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  width: 100%;
  height: 100%;
}
.brand-logo {
  margin-left: 4vh;
}
.cajitas {
  margin-top: 15vh;
  background-color: rgba(182, 255, 233, 0.616);
}
.itinerarios {
  height: 20vw;
  -moz-border-radius: 0 25% / 0 70%;
  -webkit-border-radius: 0 25% / 0 70%;
  border-radius: 0 25% / 0 70%;
  background: white;
  border: black solid 0.1vw;
  margin: 3vw;
  padding: 1%;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0vw 1.1vw 1.1vw rgb(0, 0, 0, 0.5);
}

.cajaGrande:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0vw 1.1vh 1.1vh rgb(0, 0, 0, 0.5) !important;
  cursor: pointer;
}
.textoPrincipal {
  font-family: "DatalegreyaDot";
  font-weight: normal;
  font-style: normal;
  font-size: 2vw;
}
.cajaFlecha {
  width: 50%;
  text-align: center;
  margin: 0%;
}

.ciudades {
  color: black;
  text-align: center;
  font-size: 5vw;
  font-family: "Open Sans Condensed", sans-serif !important;
}
body {
  background-color: #f7f7f7;
}
@media only screen and (max-width: 800px) {
  .textoPrincipal {
    font-size: 8vw;
  }
  .cajaFlecha {
    width: 100%;
    margin: 0;
  }
  .cajaTexto {
    height: 23vw;
  }
}